.main {
  height: 100%;
  display: grid;
  place-content: center;
  gap: 2rem;
}

.title {
  font-size: 3em;
  font-weight: normal;
}

.button {
  padding: 1rem 2rem;
  background-color: var(--green-light);
  border: none;
  border-radius: 8px;

  color: var(--grey-6);
  font-size: 1.4em;
  font-weight: bold;

  align-self: center;

  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  box-shadow: 0 0 10px var(--green-light);
}
